@import '../default/colours';
@import '../components/animation';
@import '../components/mixins';


.blog-post-section {
  width: 100%;
  .post {
    width: 100%;
    padding-bottom: 200px;
    .post-container {
      gap: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .image-content {
        opacity: 0;
        width: 80%;
        max-width: 500px;
        animation: fade-up 700ms forwards 100ms ease-in-out;
        img {
          box-shadow: 10px 10px $layer-5;
          border-radius: 10px;
          object-fit: cover;
          width: 100%;
        }
      }
      p {
        width: 97%;
        color: $layer-5;
        font-size: 0.6em;
        text-align: start;
      }
      .code-block {
        opacity: 0;
        animation: fade-up 700ms forwards 200ms ease-in-out;
        font-size: 0.5em;
        max-width: 100%;
        pre {
          code {
            border-radius: 10px;
          }
        }
      }
    }
    .back {
      text-shadow: 8px 8px $layer-5;
      padding-top: 50px;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.scaling {
  transform: scale(0.7);
}

// For tablet
@media only screen and (min-width: 600px) {
  .blog-post-section {
    width: 90%;
    .post {
      .post-container {
        p {
          font-size: 0.8em;
        }
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  .blog-post-section {
    width: 80%;
    max-width: 1000px;
    .post-container {
      .code-block {
        transform: scale(1);
      }
    }
  }
}