@import '../default/colours';
@import '../components/animation';
@import '../components/mixins';

.contact-section {
  padding: 0px 20px 20px 20px;
  gap: 0;
  .contact-form {
    width: 90%;
    padding-bottom: 200px;
    @include flex-center;
    .form-content {
      @include flex-center;
      gap: 0.4em;
      max-width: 500px;
      width: 100%;
      div {
        opacity: 0;
        font-size: 0.7em;
        width: 100%;
        label {
          align-self: baseline;
          margin-bottom: 10px;
        }
        div {
          width: 100%;
          height: fit-content;
          margin-top: 10px;
          @include blur-border;
          input {
            all: unset;
            margin-left: 10px;
            height: 2em;
            width: calc(100% - 10px);
          }
          textarea {
            all: unset;
            padding: 10px 0 0 10px;
            width: calc(100% - 10px);
            min-height: 200px;
          }
        }
      }
      .button-container {
        @include blur-border;
        width: fit-content;
        padding: 10px;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        .submit-button {
          all: unset;
        }
      }
      .button-container:hover, .button-container:active {
        background-color: $layer-4;
        color: $layer-5;
        border: 1px solid $layer-4;
      }  


      div:nth-child(1) {
        animation: fade-up 700ms forwards 300ms ease-in-out;
      }
      div:nth-child(2) {
        animation: fade-up 700ms forwards 500ms ease-in-out;
      }
      div:nth-child(3) {
        animation: fade-up 700ms forwards 700ms ease-in-out;
      }
      div:nth-child(4) {
        animation: fade-up 700ms forwards 800ms ease-in-out;
      }
      div:nth-child(5) {
        animation: fade-up 700ms forwards 900ms ease-in-out;
      }
    }
  }
  // Available to work
  .availability {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-self: center;
    padding-top: 20px;
    opacity: 0;
    animation: fade-up 700ms forwards 300ms ease-in-out;
    p {
      all: unset;
      font-size: 0.6em;
    }
    .yes {
      // display: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #44c344;
      margin-left: 10px;
    }
    .no {
      display: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #c62929;
      margin-left: 10px;
    }
  }
  .email {
    opacity: 0;
    padding: 10px 0 0 0;
    align-self: center;
    width: fit-content;
    animation: fade-up 700ms forwards 300ms ease-in-out;
    p {
      font-weight: bold;
      font-size: 0.6em;
      width: fit-content;
    }
  }
}


// For tablet
@media only screen and (min-width: 600px) {
  .contact-section {
    padding-top: 20px;
    gap: 0.5em;
    .contact-form {
    font-size: 1em;
    }
    .availability {
      padding: 10px 0 0 5px;
      align-self: baseline;
    }
    .email {
      padding: 10px 0 0 0;
      align-self: flex-start;
      padding: 10px 0 0 5px;
      width: fit-content;
      p {
        font-size: 0.6em;
        width: fit-content;
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  .contact-section {
    flex-direction: row;
    .contact-form {
      padding: 0;
      padding-top: 70px;
      font-size: 0.7em;
      .form-content {
        max-width: 450px;
        width: 100%;
      }
    }
  }
}