@import '../default/colours';
@import '../components/animation';
@import '../components/mixins';

main {
  // color: $layer-5;
  section {
    @include flex-center;
    h1 {
      flex: 2;
      padding: 80px 0 0 0;
      a {
        span {
          display: inline-block;
          animation: move 2s forwards infinite;
        }
      }
    }
    p {
      width: 90%;
      flex: 1;
      font-size: 0.7em;
      text-align: end;
    }
  }
}


// For tablet
@media only screen and (min-width: 600px) {
  main {
    font-size: 1.5em;
    section {
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {

}