@import '../default/colours';
@import '../components/animation';
@import '../components/mixins';

main {
  section {
    h1 {
      align-self: baseline;
      // width: 400px;
      flex: 2;
      a {
        span {
          display: inline-block;
          animation: move 2s forwards infinite;
          &:hover {
            color: $layer-5;
          }
        }
      }
    }
    p {
      line-height: 1.2;
      width: 90%;
      font-size: 0.7em;
      text-align: end;
      padding-bottom: 10px;
      span {
        display: inline-block;
        &:hover {
          color: $layer-5;
        }
      }
    }
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  main {
    section {
      h1 {
        align-self: flex-start;
        width: 550px;
      }
      p {
        align-self: flex-end;
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  main {
    section {
      margin-top: 50px;
      align-items: flex-start;
      width: 90%;
      height: 80%;
      h1 {
        padding-top: 10px;
        width: 450px;
      }
      p {
        min-height: fit-content;
        align-self: end;
        font-size: 0.65em;
        float: right;
        width: 420px;
        padding-top: 50px;
        padding: 0;
      }
    }
  }
}