@import '../default/colours';
@import '../components/animation';
@import '../components/mixins';

.work-section {
  height: 80%;
  padding: 40px;
  justify-content: flex-start;
  gap: 1em;
  .work-heading {
    display: flex;
    flex-direction: column;
    .resume-download {
      all: unset;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      width: fit-content;
      font-size: 0.4em;
      padding-top: 20px;
      cursor: pointer;
      .resume-buttom {
        all: unset;
        opacity: 0;
        @include blur-border;
        padding: 7px;
        animation: fade-up 700ms forwards 200ms ease-in-out;
      }
    }
    .resume-buttom:hover {
      background-color: $layer-4;
      color: $layer-5;
      border: 1px solid $layer-4;
    }
  }
  .content-container {
    padding-bottom: 300px;
    width: 100%;
    .content-cards {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }

}

// For tablet
@media only screen and (min-width: 600px) {
  .work-section {
    width: 80%;
    align-items: center;
    .heading {
      align-self: baseline;
    }
    .content-container {
      width: fit-content;
      .content-cards {
        gap: 0.6em;
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  .work-section {
    margin-top: 0;
    justify-content: flex-start;
    .content-container {
      padding-bottom: 0;
      width: fit-content;
      .content-cards {
        margin-bottom: 100px;
        flex-flow: row wrap;
      }
    }
  }
}