@import '../default/colours';
@import '../components/animation';
@import '../components/mixins';

// Blog post extension to the card component
.blog-post {
  // Top part of card
  .top-part {
    backdrop-filter: blur(3px);
    background-color: rgba(221, 97, 74, 0.25);
    background-color: url('../../images/blog1.jpg');
    .blog-post-title {
      transition: all 200ms ease-in-out;
      height: 100%;
      width: 90%;
      font-size: 1.3em;
      z-index: 1;
      position: absolute;
      bottom: 50%;
      left: 50%;
      translate: -50% 50%;
      transition: all 200ms ease-in-out;
      h4 {
        transition: all 200ms ease-in-out;
        position: absolute;
        top: 20px;
      }
      h6 {
        position: absolute;
        bottom: 10px;
        font-size: 0.4em;
      }
    }
    .image-content {
      transition: all 200ms ease-in-out;
      img {
        object-position: 0;
        filter: brightness(0.6) opacity(1);
      }
    }
  }
  // Bottom part of card
  .bottom-part {
    p {
      padding: 0 0 10px 0;
      width: 100%;
      text-align: start;
    }
  }
  // Hover effects for cards
  &:hover .blog-post-title {
    color: $layer-5;
  }
  &:hover .image-content {
    filter: opacity(0);
  }
  &:hover .blog-post-title>h4 {
    color: $layer-5;
    font-size: 1.5em;
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  .blog-post {
    width: 325px;
    max-width: unset;
  }
}

// No need for desktop as the card component class already covers that