@import '../default/colours';
@import '../components/animation';
@import '../components/mixins';

.card {
  opacity: 0;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 300px;
  min-width: 250px;
  font-size: 0.8em;
  width: 100%;
  overflow: hidden;
  background-color: rgba(221, 97, 74, 0.25);
  backdrop-filter: blur(5px);
  transition: all 200ms ease-in-out;
  .top-part {
    height: 150px;
    position: relative;
    .tech {
      width: 100%;
      font-size: 1.3em;
      z-index: 1;
      opacity: 0;
      position: absolute;
      text-align: center;
      padding: 0 0 5px 10px;
      bottom: 50%;
      left: 50%;
      translate: -50% 50%;
      transition: all 200ms ease-in-out;
      a {
        display: inline-block;
        transition: transform 50ms ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .image-content {
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        transform: scale(1.4);
        object-position: -16px -68px;
        transition: all 200ms ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .bottom-part {
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid white;
    padding: 10px;
    transition: all 200ms ease-in-out;
  }
  &:hover .bottom-part {
    color: $layer-5;
  }
  &:hover .tech {
    opacity: 1;
    color: $layer-1;
  }
  &:hover .image-content>img {
    filter: blur(3px) opacity(0.8) brightness(0.8);
  }
}
.card:nth-child(1) {
  animation: fade-up 700ms forwards 300ms ease-in-out;
}
.card:nth-child(2) {
  animation: fade-up 700ms forwards 500ms ease-in-out;
}
.card:nth-child(3) {
  animation: fade-up 700ms forwards 700ms ease-in-out;
}
.card:nth-child(4) {
  animation: fade-up 700ms forwards 900ms ease-in-out;
}
.card:nth-child(5) {
  animation: fade-up 700ms forwards 1200ms ease-in-out;
}

// For tablet
@media only screen and (min-width: 600px) {
  .card {
    font-size: 0.5em;
  }
}
