@import '../default/colours';

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
  transition: filter 300ms ease-in-out;
  .socials-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
    .socials-content {
      display: flex;
      justify-content: space-evenly;
      width: 150px;
    }
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  footer {
    width: fit-content;
    margin-bottom: 0;
    .socials-container {
      margin-left: 30px;
      width: fit-content;
      .socials-content {
        height: 200px;
        flex-direction: column;
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  footer {
    margin-bottom: 20px;
    .socials-container {
      .socials-content {
        height: fit-content;
        flex-direction: row;
      }
    }
  }
}