@import '../default/colours';

// Footer icon bar
footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
  transition: filter 300ms ease-in-out;
  .socials-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 0.45em;
    .socials-content {
      background-color: $layer-1;
      border-radius: 25px;
      padding: 15px 10px;
      display: flex;
      justify-content: space-evenly;
      width: 150px;
      a {
        transition: color 200ms ease-in-out;
      }
      a:hover {
        color: $layer-5;
      }
    }
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  // Change to column orientation
  footer {
    width: fit-content;
    margin-bottom: 0;
    .socials-container {
      margin-left: 30px;
      width: fit-content;
      .socials-content {
        background-color: transparent;
        height: 200px;
        flex-direction: column;
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  // Change back to row
  footer {
    margin-bottom: 20px;
    .socials-container {
      .socials-content {
        background-color: $layer-1;
        border-radius: 25px;
        padding: 15px 10px;
        height: fit-content;
        flex-direction: row;
      }
    }
  }
}