@import '../default/colours';
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

// Header logo
header {
  font-family: "Ultra", serif;
  color: $layer-5;
  transition: color 200ms ease-in-out;
  z-index: 1;
  position: fixed;
  text-align: center;
  padding-top: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  &:hover {
    color: white;
  }
  p {
    background-color: $layer-1;
    border-radius: 25px;
    padding: 0 22px;
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  header {
    font-size: 1.2em;
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  header {
    font-size: 1em;
    left: 140px;
    top: 20px;
    transform: translateX(0%);
  }
}