@import '../default/colours';
@import '../components/mixins';

main {
  height: 100vh;
  @include flex-center;
  line-height: 1;
  width: 100vw;
  transition: filter 300ms ease-in-out;
  section {
    @include flex-center;
    height: 70%;
    padding: 50px;
    max-width: 1050px;
    min-width: 300px;
    div {
      h1 {
        width: fit-content;
        text-shadow: 8px 8px $layer-5;
      }
    }
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  main {
    font-size: 1.5em;
    section {
      height: 70%;
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  main {
    section {
      font-size: 0.9em;
      max-width: 1200px;
    }
  }
}