@import '../default/colours';
@import '../components/mixins';

main {
  @include flex-center;
  height: 100vh;
  width: 100vw;
  transition: filter 300ms ease-in-out;
  margin: 50px 0 50px 0;
  section {
    height: 80%;
    padding: 20px;
    max-width: 600px;
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  main {
    section {
      max-width: 800px;
      height: 70%;
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {

}