@import '../default/colours';

// Userful center flex mixin
@mixin flex-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

// Blurred background and border for frosted skeumorphism effect
@mixin blur-border {
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(221, 97, 74, 0.25);
  backdrop-filter: blur(3px);
}