@import '../default/colours';

nav {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 0px;
  .button-container {
    width: 50px;
    height: 50px;
    svg {
      transform: scale(2);
      width: 100%;
      transition: all 300ms ease-in-out;
      g {
        path {
          cursor: pointer;
          fill: $layer-2;
          transition: all 300ms ease-in-out;
          &:hover {
            transition: all 300ms ease-in-out;
            fill: $layer-3;
          }
          &:active {
            transition: all 2ms ease-in-out;
            fill: $layer-4;
          }
        }
      }
    }
  }
  #nav-links {
    opacity: 0;
    transform: translateX(-10em);
    transition: all 300ms ease-in-out;
    translate: 0px 20px;
    h3 {
      width: fit-content;
      transition: all 200ms ease-in-out;
      &:hover {
        transition: all 200ms ease-in-out;
        translate: 20px;
      }
    }
  }
}