@import '../default/colours';

nav {
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 0px;
  .button-container {
    width: 50px;
    svg {
      transform: scale(2);
      width: 100%;
      transition: fill 300ms ease-in-out;
      g {
        path {
          cursor: pointer;
          fill: $layer-2;
          transition: fill 300ms ease-in-out;
          &:hover {
            transition: fill 300ms ease-in-out;
            fill: $layer-3;
          }
          &:active {
            transition: fill 2ms ease-in-out;
            fill: $layer-4;
          }
        }
      }
    }
  }
  #nav-links {
    font-size: min(15vw, 10vh);
    opacity: 0;
    transform: translateX(-10em);
    transition: all 200ms ease-in-out;
    translate: 0px 20px;
    h3 {
      width: fit-content;
      transition: all 200ms ease-in-out;
      &:hover {
        color: $layer-5;
        transition: all 200ms ease-in-out;
        translate: 20px;
      }
    }
  }
}

// For tablet
@media only screen and (min-width: 600px) {
  nav {
    top: 40px;
    left: 40px;
    .button-container {
      svg {
        transform: scale(3.5);
      }
    }
  }
}

// For desktop
@media only screen and (min-width: 1000px) {
  nav {
    top: 45px;
    left: 45px;
    .button-container {
      svg {
        transform: scale(2.8);
      }
    }
    #nav-links {
      font-size: 8vh;
    }
  }
}