@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
::-moz-selection { /* Code for Firefox */
  color: rgb(221, 97, 74);
  background: white;
}

::selection {
  color: rgb(221, 97, 74);
  background: white;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(244, 134, 104);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 8, 54);
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  padding: 0;
  margin: 0;
  background-color: rgb(221, 97, 74);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.blobs {
  transition: filter 300ms ease-in-out;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.blobs .blob {
  max-width: 350px;
  width: 100%;
  position: absolute;
  mix-blend-mode: multiply;
  top: 53vh;
  left: 42vw;
  translate: -50% -50%;
  transform: scale(1.5);
}
.blobs div:nth-child(1) {
  translate: -60% -70%;
}
.blobs div:nth-child(1) svg g path {
  fill: rgb(244, 134, 104);
}
.blobs div:nth-child(2) {
  translate: -50% -20%;
}
.blobs div:nth-child(2) svg g path {
  fill: rgb(244, 166, 152);
}
.blobs div:nth-child(3) {
  mix-blend-mode: overlay;
  translate: -30% -80%;
}
.blobs div:nth-child(3) svg g path {
  fill: rgb(217, 217, 217);
}

.second-blobs {
  display: none;
  transition: filter 300ms ease-in-out;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.second-blobs .second-blob {
  top: 46vh;
  left: -5vw;
  transform: scale(0.5) rotate(160deg);
  max-width: 700px;
  width: 100%;
  position: absolute;
  mix-blend-mode: multiply;
}
.second-blobs div:nth-child(1) {
  transform: scale(0.4) rotate(60deg);
}
.second-blobs div:nth-child(1) svg g path {
  fill: rgb(244, 166, 152);
}
.second-blobs div:nth-child(2) {
  transform: scale(0.6) rotate(10deg);
}
.second-blobs div:nth-child(2) svg g path {
  fill: rgb(244, 134, 104);
}
.second-blobs div:nth-child(3) {
  transform: scale(0.5) rotate(300deg);
  mix-blend-mode: overlay;
}
.second-blobs div:nth-child(3) svg g path {
  fill: rgb(221, 97, 74);
}

@media only screen and (min-width: 600px) {
  .blobs .blob {
    left: 50vw;
    translate: -50% -50%;
    transform: scale(2);
  }
  .blobs .blob div:nth-child(1) {
    translate: -80% -80%;
  }
  .blobs .blob div:nth-child(2) {
    translate: -50% -20%;
  }
  .blobs .blob div:nth-child(3) {
    translate: -20% -80%;
  }
}
@media only screen and (min-width: 1000px) {
  .blobs .blob {
    position: absolute;
    mix-blend-mode: multiply;
    top: 40vh;
    left: 60vw;
    translate: -50% -50%;
    transform: scale(2);
  }
  .blobs .blob div:nth-child(1) {
    translate: -80% -80%;
  }
  .blobs .blob div:nth-child(2) {
    translate: -50% -20%;
  }
  .blobs .blob div:nth-child(3) {
    translate: -20% -80%;
  }
  .second-blobs {
    display: block;
  }
}
@-webkit-keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@-webkit-keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
  transition: filter 300ms ease-in-out;
}
footer .socials-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 0.45em;
}
footer .socials-container .socials-content {
  background-color: rgb(221, 97, 74);
  border-radius: 25px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-evenly;
  width: 150px;
}
footer .socials-container .socials-content a {
  transition: color 200ms ease-in-out;
}
footer .socials-container .socials-content a:hover {
  color: rgb(22, 8, 54);
}

@media only screen and (min-width: 600px) {
  footer {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0;
  }
  footer .socials-container {
    margin-left: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .socials-container .socials-content {
    background-color: transparent;
    height: 200px;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1000px) {
  footer {
    margin-bottom: 20px;
  }
  footer .socials-container .socials-content {
    background-color: rgb(221, 97, 74);
    border-radius: 25px;
    padding: 15px 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: row;
  }
}
header {
  font-family: "Ultra", serif;
  color: rgb(22, 8, 54);
  transition: color 200ms ease-in-out;
  z-index: 1;
  position: fixed;
  text-align: center;
  padding-top: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
header:hover {
  color: white;
}
header p {
  background-color: rgb(221, 97, 74);
  border-radius: 25px;
  padding: 0 22px;
}

@media only screen and (min-width: 600px) {
  header {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1000px) {
  header {
    font-size: 1em;
    left: 140px;
    top: 20px;
    transform: translateX(0%);
  }
}
nav {
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  width: 0px;
}
nav .button-container {
  width: 50px;
}
nav .button-container svg {
  transform: scale(2);
  width: 100%;
  transition: fill 300ms ease-in-out;
}
nav .button-container svg g path {
  cursor: pointer;
  fill: rgb(244, 134, 104);
  transition: fill 300ms ease-in-out;
}
nav .button-container svg g path:hover {
  transition: fill 300ms ease-in-out;
  fill: rgb(244, 166, 152);
}
nav .button-container svg g path:active {
  transition: fill 2ms ease-in-out;
  fill: rgb(217, 217, 217);
}
nav #nav-links {
  font-size: min(15vw, 10vh);
  opacity: 0;
  transform: translateX(-10em);
  transition: all 200ms ease-in-out;
  translate: 0px 20px;
}
nav #nav-links h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 200ms ease-in-out;
}
nav #nav-links h3:hover {
  color: rgb(22, 8, 54);
  transition: all 200ms ease-in-out;
  translate: 20px;
}

@media only screen and (min-width: 600px) {
  nav {
    top: 40px;
    left: 40px;
  }
  nav .button-container svg {
    transform: scale(3.5);
  }
}
@media only screen and (min-width: 1000px) {
  nav {
    top: 45px;
    left: 45px;
  }
  nav .button-container svg {
    transform: scale(2.8);
  }
  nav #nav-links {
    font-size: 8vh;
  }
}
main {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  line-height: 1;
  width: 100vw;
  transition: filter 300ms ease-in-out;
}
main section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding: 50px;
  max-width: 1050px;
  min-width: 300px;
}
main section div h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-shadow: 8px 8px rgb(22, 8, 54);
}

@media only screen and (min-width: 600px) {
  main {
    font-size: 1.5em;
  }
  main section {
    height: 70%;
  }
}
@media only screen and (min-width: 1000px) {
  main section {
    font-size: 0.9em;
    max-width: 1200px;
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.card {
  opacity: 0;
  border-radius: 10px;
  border: 1px solid white;
  max-width: 300px;
  min-width: 250px;
  font-size: 0.8em;
  width: 100%;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.card .top-part {
  height: 150px;
  position: relative;
}
.card .top-part .tech {
  width: 100%;
  font-size: 1.3em;
  z-index: 1;
  opacity: 0;
  position: absolute;
  text-align: center;
  padding: 0 0 5px 10px;
  bottom: 50%;
  left: 50%;
  translate: -50% 50%;
  transition: all 200ms ease-in-out;
}
.card .top-part .tech a {
  display: inline-block;
  transition: transform 50ms ease-in-out;
}
.card .top-part .tech a:hover {
  transform: scale(1.2);
}
.card .top-part .image-content {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.card .top-part .image-content img {
  transform: scale(1.4);
  -o-object-position: -16px -68px;
     object-position: -16px -68px;
  transition: all 200ms ease-in-out;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .bottom-part {
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid white;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(221, 97, 74, 0.25);
  padding: 10px;
  transition: all 200ms ease-in-out;
}
.card:hover .bottom-part {
  color: rgb(22, 8, 54);
}
.card:hover .tech {
  opacity: 1;
  color: rgb(221, 97, 74);
}
.card:hover .image-content > img {
  filter: blur(3px) opacity(0.8) brightness(0.8);
}

.card:nth-child(1) {
  -webkit-animation: fade-up 700ms forwards 300ms ease-in-out;
          animation: fade-up 700ms forwards 300ms ease-in-out;
}

.card:nth-child(2) {
  -webkit-animation: fade-up 700ms forwards 500ms ease-in-out;
          animation: fade-up 700ms forwards 500ms ease-in-out;
}

.card:nth-child(3) {
  -webkit-animation: fade-up 700ms forwards 700ms ease-in-out;
          animation: fade-up 700ms forwards 700ms ease-in-out;
}

.card:nth-child(4) {
  -webkit-animation: fade-up 700ms forwards 900ms ease-in-out;
          animation: fade-up 700ms forwards 900ms ease-in-out;
}

.card:nth-child(5) {
  -webkit-animation: fade-up 700ms forwards 1200ms ease-in-out;
          animation: fade-up 700ms forwards 1200ms ease-in-out;
}

@media only screen and (min-width: 600px) {
  .card {
    font-size: 0.5em;
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main section {
  width: 90%;
  height: 70%;
}
main section h1 {
  opacity: 0;
  align-self: baseline;
  flex: 2;
  -webkit-animation: fade-up 700ms forwards ease-in-out;
          animation: fade-up 700ms forwards ease-in-out;
}
main section h1 a span {
  display: inline-block;
  -webkit-animation: move 2s forwards infinite;
          animation: move 2s forwards infinite;
}
main section h1 a span:hover {
  color: rgb(22, 8, 54);
}
main section p {
  opacity: 0;
  line-height: 1.2;
  width: 90%;
  font-size: 0.7em;
  text-align: end;
  padding-bottom: 10px;
  -webkit-animation: fade-up 700ms forwards 200ms ease-in-out;
          animation: fade-up 700ms forwards 200ms ease-in-out;
}
main section p span {
  display: inline-block;
}
main section p span:hover {
  color: rgb(22, 8, 54);
}

@media only screen and (min-width: 600px) {
  main section h1 {
    align-self: flex-start;
    width: 550px;
  }
  main section p {
    align-self: flex-end;
  }
}
@media only screen and (min-width: 1000px) {
  main section {
    align-items: flex-start;
  }
  main section h1 {
    padding-top: 10px;
    width: 450px;
  }
  main section p {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    align-self: end;
    font-size: 0.65em;
    float: right;
    width: 420px;
    padding-top: 50px;
    padding: 0;
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main {
  line-height: 1.2;
}
main .about-section {
  padding: 40px;
  justify-content: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1em;
}
main .about-section .heading .about-img {
  display: none;
  margin: 20px;
  max-width: 200px;
  width: 50%;
  border-radius: 50%;
  filter: grayscale(1);
  box-shadow: 5px 10px rgb(22, 8, 54);
  transition: all 300ms ease-in-out;
}
main .about-section .heading .about-img:hover {
  box-shadow: 0px 0px rgb(22, 8, 54);
  filter: grayscale(0);
}
main .about-section .text-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
main .about-section .text-body p {
  width: 100%;
  color: rgb(22, 8, 54);
  text-align: left;
}
main .about-section .text-body p a {
  background-color: white;
  border-radius: 10px;
  color: rgb(22, 8, 54);
  padding: 0px 10px;
}
main .about-section .text-body p a:hover {
  background-color: rgb(22, 8, 54);
  color: white;
}

@media only screen and (min-width: 600px) {
  main .about-section {
    padding: 20px 20px 20px 80px;
    margin-bottom: min(20%, 50px);
  }
  main .about-section .heading {
    align-self: baseline;
  }
  main .about-section .heading h1 {
    flex: 0;
  }
  main .about-section .text-body {
    gap: 0.2em;
  }
  main .about-section .text-body p {
    align-self: flex-start;
    text-align: start;
  }
  main .about-section .text-body p:nth-child(odd) {
    text-align: start;
  }
}
@media only screen and (min-width: 1000px) {
  main .about-section {
    flex-direction: row;
    margin-bottom: 0;
  }
  main .about-section .heading {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  main .about-section .heading .about-img {
    opacity: 0;
    display: block;
    max-width: 150px;
    -webkit-animation: fade-up 700ms forwards ease-in-out;
            animation: fade-up 700ms forwards ease-in-out;
  }
  main .about-section .text-body {
    flex: 1;
  }
  main .about-section .text-body p {
    align-self: flex-end;
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.work-section {
  height: 80%;
  padding: 40px;
  justify-content: flex-start;
  gap: 1em;
}
.work-section .content-container {
  padding-bottom: 100px;
  width: 100%;
}
.work-section .content-container .content-cards {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media only screen and (min-width: 600px) {
  .work-section {
    width: 80%;
    align-items: center;
  }
  .work-section .heading {
    align-self: baseline;
  }
  .work-section .content-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .work-section .content-container .content-cards {
    gap: 0.6em;
  }
}
@media only screen and (min-width: 1000px) {
  .work-section {
    margin-top: 0;
    justify-content: flex-start;
  }
  .work-section .content-container {
    padding-bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .work-section .content-container .content-cards {
    margin-bottom: 100px;
    flex-flow: row wrap;
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.blog-post .top-part {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(221, 97, 74, 0.25);
  background-color: url("../../images/blog1.jpg");
}
.blog-post .top-part .blog-post-title {
  transition: all 200ms ease-in-out;
  height: 100%;
  width: 90%;
  font-size: 1.3em;
  z-index: 1;
  position: absolute;
  bottom: 50%;
  left: 50%;
  translate: -50% 50%;
  transition: all 200ms ease-in-out;
}
.blog-post .top-part .blog-post-title h4 {
  transition: all 200ms ease-in-out;
  position: absolute;
  top: 20px;
}
.blog-post .top-part .blog-post-title h6 {
  position: absolute;
  bottom: 10px;
  font-size: 0.4em;
}
.blog-post .top-part .image-content {
  transition: all 200ms ease-in-out;
}
.blog-post .top-part .image-content img {
  -o-object-position: 0;
     object-position: 0;
  filter: brightness(0.6) opacity(1);
}
.blog-post .bottom-part p {
  padding: 0 0 10px 0;
  width: 100%;
  text-align: start;
}
.blog-post:hover .blog-post-title {
  color: rgb(22, 8, 54);
}
.blog-post:hover .image-content {
  filter: opacity(0);
}
.blog-post:hover .blog-post-title > h4 {
  color: rgb(22, 8, 54);
  font-size: 1.5em;
}

@media only screen and (min-width: 600px) {
  .blog-post {
    width: 325px;
    max-width: unset;
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.blog-post-section {
  width: 100%;
}
.blog-post-section .post {
  width: 100%;
  padding-bottom: 100px;
}
.blog-post-section .post .post-container {
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.blog-post-section .post .post-container .image-content {
  display: none;
}
.blog-post-section .post .post-container p {
  width: 97%;
  color: rgb(22, 8, 54);
  font-size: 0.6em;
  text-align: start;
}
.blog-post-section .post .post-container .code-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.5em;
}
.blog-post-section .post .post-container .code-block pre code {
  border-radius: 10px;
}
.blog-post-section .post .back {
  text-shadow: 8px 8px rgb(22, 8, 54);
  padding-top: 50px;
  font-size: 1.2em;
  font-weight: bold;
}

.scaling {
  transform: scale(0.7);
}

@media only screen and (min-width: 600px) {
  .blog-post-section {
    width: 90%;
  }
  .blog-post-section .post .post-container p {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 1000px) {
  .blog-post-section {
    width: 80%;
    max-width: 1000px;
  }
  .blog-post-section .post-container .code-block {
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.skill-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  gap: 0.5em;
  padding-bottom: 100px;
}
.skill-text .skill-container {
  opacity: 0;
  max-width: 350px;
  border-radius: 10px;
  border: 1px solid;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(221, 97, 74, 0.25);
  padding: 10px;
  width: 100%;
}
.skill-text .skill-container .skill-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(22, 8, 54);
}
.skill-text .skill-container .skill-content h2 {
  font-size: 1.3em;
  align-self: flex-start;
  padding-bottom: 5px;
}
.skill-text .skill-container .skill-content .skill-icons {
  align-self: flex-end;
}
.skill-text .skill-container .skill-content .skill-icons a {
  transition: color 200ms ease-in-out;
}
.skill-text .skill-container .skill-content .skill-icons a:hover {
  color: white;
}
.skill-text .skill-container:nth-child(1) {
  -webkit-animation: fade-up 700ms forwards 300ms ease-in-out;
          animation: fade-up 700ms forwards 300ms ease-in-out;
}
.skill-text .skill-container:nth-child(2) {
  -webkit-animation: fade-up 700ms forwards 500ms ease-in-out;
          animation: fade-up 700ms forwards 500ms ease-in-out;
}
.skill-text .skill-container:nth-child(3) {
  -webkit-animation: fade-up 700ms forwards 700ms ease-in-out;
          animation: fade-up 700ms forwards 700ms ease-in-out;
}
.skill-text .skill-container:nth-child(4) {
  -webkit-animation: fade-up 700ms forwards 900ms ease-in-out;
          animation: fade-up 700ms forwards 900ms ease-in-out;
}

@keyframes move {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.01) translateY(-5px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}
@keyframes fade-up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.contact-section {
  padding: 10px 20px 20px 20px;
}
.contact-section .contact-form {
  width: 90%;
  font-size: 0.8em;
}
.contact-section .contact-form .form-container .form-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.contact-section .contact-form .form-container .form-content div {
  opacity: 0;
  font-size: 0.7em;
  width: 100%;
}
.contact-section .contact-form .form-container .form-content div label {
  padding-left: 10px;
  align-self: baseline;
  margin-bottom: 10px;
}
.contact-section .contact-form .form-container .form-content div input {
  all: unset;
  height: 2em;
  width: 100%;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(221, 97, 74, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.contact-section .contact-form .form-container .form-content div textarea {
  all: unset;
  margin-top: 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(221, 97, 74, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: 100%;
  min-height: 200px;
}
.contact-section .contact-form .form-container .form-content .button-container {
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(221, 97, 74, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.contact-section .contact-form .form-container .form-content .button-container .submit-button {
  all: unset;
}
.contact-section .contact-form .form-container .form-content .button-container:hover, .contact-section .contact-form .form-container .form-content .button-container:active {
  background-color: rgb(22, 8, 54);
  color: rgb(221, 97, 74);
}
.contact-section .contact-form .form-container .form-content div:nth-child(1) {
  -webkit-animation: fade-up 700ms forwards 300ms ease-in-out;
          animation: fade-up 700ms forwards 300ms ease-in-out;
}
.contact-section .contact-form .form-container .form-content div:nth-child(2) {
  -webkit-animation: fade-up 700ms forwards 500ms ease-in-out;
          animation: fade-up 700ms forwards 500ms ease-in-out;
}
.contact-section .contact-form .form-container .form-content div:nth-child(3) {
  -webkit-animation: fade-up 700ms forwards 700ms ease-in-out;
          animation: fade-up 700ms forwards 700ms ease-in-out;
}
.contact-section .contact-form .form-container .form-content div:nth-child(4) {
  -webkit-animation: fade-up 700ms forwards 800ms ease-in-out;
          animation: fade-up 700ms forwards 800ms ease-in-out;
}
.contact-section .contact-form .form-container .form-content div:nth-child(5) {
  -webkit-animation: fade-up 700ms forwards 900ms ease-in-out;
          animation: fade-up 700ms forwards 900ms ease-in-out;
}

@media only screen and (min-width: 600px) {
  .contact-form {
    align-self: flex-end;
    width: 70%;
  }
}/*# sourceMappingURL=main.css.map */